@font-face {
  font-family: "RR Beaver";
  src: url("/fonts/beaver.eot?#iefix") format("embedded-opentype"),
      url("/fonts/beaver.woff2") format("woff2"),
      url("/fonts/beaver.woff") format("woff"),
      url("/fonts/beaver.ttf") format("truetype"),
      url("/fonts/beaver.svg#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
