<div class="row top-buffer">
  <div class="col-md-4 col-md-offset-8">
    <h1>it's 3dB <span class="subtitle">is David Becerril</span></h1>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-4 col-md-offset-8">
    <h2>It's 3dB <span class="subtitle">is music</span></h2>
    <span class="description">
      I was 8 when I started to play classical guitar and now I produce electronic music. I also experiment with devices such as wiimote for my live shows and hacking Ikea LED lights so that they sync with my music. <em>Curious?</em>
      <h4>get the news here...</h4>
      <ul class="list-inline">
        <li><a class="" href="https://www.facebook.com/its3dB" target="_blank"><i class="fa fa-facebook-official  fa-2x"></i></a></li>
        <li><a class="" href="https://www.twitter.com/its3dB" target="_blank"><i class="fa fa-twitter  fa-2x"></i></a></li>
        <li><a class="" href="https://www.instagram.com/its3db" target="_blank"><i class="fa fa-instagram  fa-2x"></i></a></li>
        <!--li><a class="" href="http://its3db.lnk.to/ArtisPage" target="_blank"><i class="fa fa-music "></i>Streaming</a></li-->
      </ul>
      <h4>or stream it!</h4>
      <ul class="list-inline">
        <li><a class="" href="https://play.spotify.com/artist/64rROepn9JkMGjogaY1Ahr" target="_blank"><i class="fa fa-spotify  fa-2x"></i></a></li>
        <li><a class="" href="https://itun.es/de/KiSa7" target="_blank"><i class="fa fa-apple  fa-2x"></i></a></li>
        <li><a class="" href="https://soundcloud.com/its3db" target="_blank"><i class="fa fa-soundcloud  fa-2x"></i></a></li>
      </ul>
     </span>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-4 col-md-offset-8">
    <h2>David Becerril <span class="subtitle">as engineer</span></h2>
    <span class="lead">
      Full time engineer...
    </span>
    <span class="">
      some of you might already know (or not) that I'm an electrical engineer from Spain (but currently located in Munich, DE), in the field of <strong>Radio Frequency</strong>. <em>Telecommunications, Information Technology, Signal Processing and Wireless Networks</em> are my areas.
    </span>
      <h4>my professional profile...</h4>
      <ul class="list-inline">
        <li><a class="" href="https://linkedin.com/in/davebv" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
      </ul>
  </div>
</div>
